[Unit]
Description=Dynamically creates a file system for each user
After=network.target

[Service]
ExecStart=/usr/bin/pxeService.sh
Type=simple
PIDFile=/run/pxeService.pid

[Install]
WantedBy=default.target
